<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalpj.backend.service.AdminServiceMapper">

    <!-- 전체유저수 추출 -->
    <select id="getTotalUser" resultType="int">
        select count(*) as total from User
    </select>

    <!-- 승인된 회사수 추출 -->
    <select id="getApproveCompany" resultType="int">
        select count(*) as total from company where com_status="Y"
    </select>

    <!-- 승인대기 회사수 추출 -->
    <select id="getWatingCompany" resultType="int">
        select count(*) as total from company where com_status="N"
    </select>

    <!-- 최근 7일자별 지원자 리스트 -->
    <select id="getApplicantsbyDate" resultType="ApplicantsbyDateVO">
        SELECT DATE(apply_date) AS date, COUNT(*) AS count
        FROM user_status
        WHERE apply_date BETWEEN DATE_SUB(NOW(), INTERVAL 7 DAY) AND NOW()
        GROUP BY DATE(apply_date)
        ORDER BY DATE(apply_date) DESC
    </select>

    <!-- 합격자 중 남성 추출 -->
    <select id="getPasserMale" resultType="int">
        SELECT COUNT(*) AS total FROM user_status WHERE user_gender = 'M' AND status = '합격'
    </select>

    <!-- 합격자 중 여성 추출 -->
    <select id="getPasserFemale" resultType="int">
        SELECT COUNT(*) AS total FROM user_status WHERE user_gender = 'F' AND status = '합격'
    </select>


    <!-- 통계페이지 전용 -->

    <!-- 기간별 가입자수 -->
    <select id="getJoinUser" resultType="ApplicantsbyDateVO">
    WITH RECURSIVE days AS (    
        SELECT #{ed} - INTERVAL #{day} DAY AS day
        UNION ALL
        <![CDATA[ SELECT day + INTERVAL 1 DAY FROM days WHERE day < #{ed} ]]>
    )
    SELECT
        d.day as date,
        IFNULL(u.count, 0) AS count
    FROM
        days d
    LEFT JOIN (
        SELECT DATE(user_join_date) AS date, COUNT(*) AS count
        FROM user
        WHERE user_join_date BETWEEN DATE_SUB(#{ed}, INTERVAL #{day} DAY) AND #{ed}
        GROUP BY DATE(user_join_date)
    ) u ON d.day = u.date
    </select>

    <!-- 기간별 합격자수 -->
    <select id="getPassUser" resultType="ApplicantsbyDateVO">
    WITH RECURSIVE days AS (    
        SELECT #{ed} - INTERVAL #{day} DAY AS day
        UNION ALL
        <![CDATA[ SELECT day + INTERVAL 1 DAY FROM days WHERE day < #{ed} ]]>
    )
    SELECT
        d.day as date,
        IFNULL(u.count, 0) AS count
    FROM
        days d
    LEFT JOIN (
        SELECT DATE(apply_date) AS date, COUNT(*) AS count
        FROM user_status
        WHERE apply_date BETWEEN DATE_SUB(#{ed}, INTERVAL #{day} DAY) AND #{ed} AND status="합격"
        GROUP BY DATE(apply_date)
    ) u ON d.day = u.date
    </select>

    <!-- 기간별 지원자수 -->
    <select id="getApplyUser" resultType="ApplicantsbyDateVO">
    WITH RECURSIVE days AS (    
        SELECT #{ed} - INTERVAL #{day} DAY AS day
        UNION ALL
        <![CDATA[ SELECT day + INTERVAL 1 DAY FROM days WHERE day < #{ed} ]]>
    )
    SELECT
        d.day as date,
        IFNULL(u.count, 0) AS count
    FROM
        days d
    LEFT JOIN (
        SELECT DATE(apply_date) AS date, COUNT(*) AS count
        FROM user_status
        WHERE apply_date BETWEEN DATE_SUB(#{ed}, INTERVAL #{day} DAY) AND #{ed}
        GROUP BY DATE(apply_date)
    ) u ON d.day = u.date
    </select>



    <!-- 페이지네이션용 토탈 추출 -->
    <select id="getTotal" resultType="int">
     	select count(*) as total from User
		<if test="cri.searchTitle != null and cri.searchTitle !='' ">
			<![CDATA[ and user_name like concat('%', #{cri.searchTitle}, '%')]]>
		</if>
    </select>

    <select id="getList" resultType="UserVO">
        SELECT * FROM User
        <if test="cri.searchTitle != null and cri.searchTitle !='' ">
				  <![CDATA[ and user_name like concat('%', #{cri.searchTitle}, '%')]]>
		</if>
        ORDER BY u_no DESC
        LIMIT #{cri.pageStart}, #{cri.amount}
    </select>


</mapper>