<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalpj.backend.service.AdminUserMapper">

    <select id="test" resultType="UserVO">
        SELECT * FROM User
        ORDER BY u_no DESC
        LIMIT 1, 10
    </select>


    <select id="getList" resultType="UserVO">
        SELECT * FROM User
        <if test="cri.searchTitle != null and cri.searchTitle !='' ">
				  <![CDATA[ and user_name like concat('%', #{cri.searchTitle}, '%')]]>
		</if>
        ORDER BY u_no DESC
        LIMIT #{cri.pageStart}, #{cri.amount}

    </select>

    <select id="getTotal" resultType="int">
     	select count(*) as total from User
		<if test="cri.searchTitle != null and cri.searchTitle !='' ">
			<![CDATA[ and user_name like concat('%', #{cri.searchTitle}, '%')]]>
		</if>
    </select>


</mapper>