<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  <mapper namespace="com.finalpj.backend.service.AdminCompanyMapper">
  <select id="getList" resultType="CompanyVO">
    select * from Company 
    where com_status='Y'
     <if test="cri.searchTitle != null and cri.searchTitle !='' ">
			<![CDATA[ and com_name like concat('%', #{cri.searchTitle}, '%')]]>
		</if>
    ORDER BY c_no desc
    limit #{cri.pageStart}, #{cri.amount}
  </select>


  <select id="getTotal1" resultType="int">
    select count(*) as total from company where com_status='Y'
	</select>


  <select id="getNlist" resultType="CompanyVO">
    select * from Company  
    where com_status='N'
         <if test="cri.searchTitle != null and cri.searchTitle !='' ">
			<![CDATA[ and com_name like concat('%', #{cri.searchTitle}, '%')]]>
      	</if>
    ORDER BY c_no desc
    limit #{cri.pageStart}, #{cri.amount}
  </select>

  <select id="getTotal2" resultType="int">
    select count(*) as total from company where com_status='N'
	</select>



	<update id="companyModify" parameterType="String">
		update company 
		set com_status = 'Y', com_registration_date = now()
    where com_id = #{com_id}
	</update>

  <select id="Companydetail" resultType="CompanyVO">
    select *
    from company
    where com_id=#{com_id}
  </select>



  <delete id="companyDelete" parameterType="String">
		delete from company where com_id = #{com_id}
	</delete>


  </mapper>