<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  <mapper namespace="com.finalpj.backend.service.AdminCompanyMapper">
  <select id="getList" resultType="CompanyVO">
    select * from Company where com_status='y'
  </select>


  <select id="getNlist" resultType="CompanyVO">
    select * from Company where com_status='n'
  </select>

	<update id="companyModify" parameterType="String">
		update company 
		set com_status = 'y', com_registration_date = now()
    where com_id = #{com_id}
	</update>



  <delete id="companyDelete" parameterType="String">
		delete from company where com_id = #{com_id}
	</delete>


  </mapper>