<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalpj.backend.service.CompanyMapper">
  <insert id="regist" parameterType="JobPostingVO">
    insert into job_posting(j_recruitNum, j_email,
                            j_title, j_content, j_salary,
                            j_department, j_schedule, j_graduation,
                            j_career, j_type, com_id, j_end_date)
    values(#{j_recruitNum}, #{j_email},
            #{j_title}, #{j_content}, #{j_salary},
            #{j_department}, #{j_schedule}, #{j_graduation},
            #{j_career}, #{j_type}, #{com_id}, #{j_end_date})
  </insert>

  <select id="getJobDetail" resultType="JobPostingVO">
    <!-- select * from job_posting where j_no = #{j_no} -->
    select j.*, c.com_name, c.com_ceo_name, c.com_manager_name, c.com_manager_phone, c.com_address, c.com_detail_address
    from job_posting j
    left join company c on j.com_id = c.com_id
    where j_no = #{j_no}
  </select>

  <update id="update" parameterType="JobPostingVO">
    update job_posting set j_title = #{j_title}, j_email = #{j_email}, j_recruitNum = #{j_recruitNum}
    where j_no = #{j_no}
    <!-- update job_posting set j_title = #{j_title}, j_email = #{j_email},
    j_recruitNum = #{j_recruitNum}, j_salary = #{j_salary}, j_graduation = #{j_graduation}
    where j_no = #{j_no} -->
  </update>

  <delete id="delete" parameterType="JobPostingVO">
    delete from job_posting where j_no = #{j_no}
  </delete>

  <select id="getJobList" resultType="JobPostingVO">
    select * from job_posting
    <if test="jcri.searchTitle != '' ">
			<![CDATA[ where j_title like concat('%', #{jcri.searchTitle}, '%')]]>
		</if>
    <if test="jcri.searchCareer != '' and jcri.searchTitle == '' ">
			<![CDATA[ where j_career like concat('%', #{jcri.searchCareer}, '%')]]>
		</if>
    <if test="jcri.searchTitle != '' and jcri.searchCareer != '' ">
      <![CDATA[ and j_career like concat('%', #{jcri.searchCareer}, '%')]]>
    </if>
    order by j_no desc
    limit #{jcri.pageStart}, #{jcri.amount}
  </select>

  <select id="getTotal" resultType="int">
    select count(*) as total from job_posting
    <if test="jcri.searchTitle != '' ">
			<![CDATA[ where j_title like concat('%', #{jcri.searchTitle}, '%')]]>
		</if>
    <if test="jcri.searchCareer != '' and jcri.searchTitle == '' ">
			<![CDATA[ where j_career like concat('%', #{jcri.searchCareer}, '%')]]>
		</if>
    <if test="jcri.searchTitle != '' and jcri.searchCareer != '' ">
      <![CDATA[ and j_career like concat('%', #{jcri.searchCareer}, '%')]]>
    </if>
  </select>

  <select id="getCompanyVO" resultType="CompanyVO">
    select * from company where com_id = #{com_id}
  </select>

</mapper>