<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalpj.backend.service.CompanyMapper">
  <insert id="regist" parameterType="JobPostingVO">
  		insert into job_posting(j_no, j_title, j_com_id)
      values("2", #{j_title}, "1818")
  	</insert>

</mapper>