<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.finalpj.backend.service.ResumeMapper">
	<!-- <select id="ApplyStatus" parameterType="ResumeWriteVO" resultType="ResumeWriteVO"> 
		select * from resume_write order by w_no desc; </select> -->

	<insert id="ResumeRegist" parameterType="ResumeWriteVO">
		insert into resume_write(w_no,
								 w_name,
								 w_hp,
								 w_email,
								 w_address,
								 w_gender,
								 w_level,
								 w_finish,
								 w_major,
								 w_fndate,
								 w_com,
								 w_position,
								 w_join,
								 w_leave,
								 w_subject,
								 w_score,
								 w_get,
								 w_license,
								 w_getlicense,
								 user_id,
								 com_id
										)
		values( #{w_no},
		#{w_name},
		#{w_hp},
		#{w_email},
		#{w_address},
		#{w_gender},
		#{w_level},
		#{w_finish},
		#{w_major},
		#{w_fndate},
		#{w_com},
		#{w_position},
		#{w_join},
		#{w_leave},
		#{w_subject},
		#{w_score},
		#{w_get},
		#{w_license},
		#{w_getlicense},
		#{user_id},
		#{com_id} )

	</insert>


	<select id="ResumeModify" resultType="UserStatusVO">
		<!-- select * from resume_write where w_no= #{w_no} -->
		 select * from user_status where user_no= #{user_no}
	</select>

	


	<update id="ResumeUpdate" parameterType="ResumeWriteVO">
		update resume_write set w_no = {#w_no}, w_name = #{w_name}, w_hp = #{w_hp}, w_email = #{w_email}, w_address = #{w_address},
		w_gender = #{w_gender},  w_level = #{w_level},
		w_finish = #{w_finish},
		w_major = #{w_major}, w_fndate = #{w_fndate}, w_com = #{w_com},
		w_position = #{w_position}, w_join = #{w_join}, w_leave = #{w_leave},
		w_subject = #{w_subject}, w_score = #{w_score}, w_get = #{w_get},
		w_license = #{w_license}, w_getlicense = #{w_getlicense}, user_id = #{user_id}, com_id = #{com_id}
		where w_no = #{w_no};
	</update>

	<select id="UserMyPage" parameterType="ResumeWriteVO"
		resultType="ResumeWriteVO">
		select * from resume_write order by w_no desc;
	</select>


	<delete id="delete" parameterType="ResumeWriteVO">
		delete from resume_write where w_no = #{w_no};
	</delete>


	<select id="getList" resultType="UserStatusVO">
		select * from user_status
		<!-- <if test="cri.searchTitle != null and cri.searchTitle !='' "> <![CDATA[ 
			where r_title like concat('%', #{cri.searchTitle}, '%')]]> </if> -->
		limit #{cri.pageStart}, #{cri.amount}
	</select>

	<select id="getTotal" resultType="int">
		select count(*) as total from user_status
		<!-- <if test="cri.searchTitle != null and cri.searchTitle !='' "> <![CDATA[ 
			where r_title like concat('%', #{cri.searchTitle}, '%')]]> </if> -->
	</select>

	<update id="updateStatus" parameterType="UserStatusVO">
		<!-- update user_status set status = #{status} where w_no = #{w_no} and com_id = #{com_id} -->
		update user_status set status = #{status} where user_no = #{user_no} and com_id = #{com_id}
	</update>



</mapper>



