<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.finalpj.backend.service.ResumeMapper">
  <!-- <select id="ApplyStatus" parameterType="ResumeWriteVO" resultType="ResumeWriteVO">
		select * from resume_write order by w_no desc;
	</select> -->

<insert id="ResumeRegist" parameterType="ResumeWriteVO">
  		insert into resume_write(w_no,
  							w_name,
  							w_hp,
  							w_email,
  							w_address,
  							w_gender,
  							w_level,
  							w_finish,
  							w_major,
  							w_fndate,
                w_com,
                w_position,
                w_join,
                w_leave,
                w_subject,
                w_score,
                w_get,
                w_license,
                w_getlicense
              )
  		values( #{w_no},
  				#{w_name},
  				#{w_hp},
  				#{w_email},
  				#{w_address},
  				#{w_gender},
  				#{w_level},
  				#{w_finish},
  				#{w_major},
  				#{w_fndate},
          #{w_com},
          #{w_position}, 
          #{w_join},
          #{w_leave},
          #{w_subject},
          #{w_score},
          #{w_get},
          #{w_license},
          #{w_getlicense}
           )
       
  	</insert>


<select id="ResumeModify" resultType="ResumeWriteVO">
    select * from resume_write where w_no=#{w_no} 
  </select>


<update id="ResumeUpdate" parameterType="ResumeWriteVO">
update resume_write set w_address = #{w_address}, w_level = #{w_level}, w_finish = #{w_finish},
w_major = #{w_major}, w_fndate = #{w_fndate}, w_com = #{w_com},
w_position = #{w_position}, w_join = #{w_join}, w_leave = #{w_leave},
w_subject = #{w_subject}, w_score = #{w_score}, w_get = #{w_get},
w_license = #{w_license}, w_getlicense = #{w_getlicense}
where w_no = #{w_no};
</update>
  
<select id="UserMyPage" parameterType="ResumeWriteVO" resultType="ResumeWriteVO">
		select * from resume_write order by w_no desc;
</select>


<delete id="delete" parameterType="ResumeWriteVO">
    delete from resume_write where w_no  = #{w_no};
</delete>


 <select id="getList" resultType="ResumeWriteVO">
    select * from resume_write
     <!-- <if test="cri.searchTitle != null and cri.searchTitle !='' ">
			<![CDATA[ where r_title like concat('%', #{cri.searchTitle}, '%')]]>
		</if> -->
    order by w_no desc
    limit #{cri.pageStart}, #{cri.amount}
  </select>

      <select id="getTotal" resultType="int">
     	select count(*) as total from resume_write
      <!-- <if test="cri.searchTitle != null and cri.searchTitle !='' ">
			  <![CDATA[ where r_title like concat('%', #{cri.searchTitle}, '%')]]>
		</if> -->
     </select>



</mapper>



